body {
    font-family: Helvetica;
    background-color: #1e2230; 
    color: #dcdcdc; 
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #191d2b; 
    padding: 20px 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.logo {
    display: flex; 
    align-items: center; 
    margin-right: 30px;
}

.logo img {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav-left {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-left li {
    margin-left: 20px;
}

.nav-left a {
    color: #b8c1ec;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.nav-left a:hover {
    color: #7a7dbd;
}

.nav-left a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #7a7dbd;
    left: 0;
    bottom: -5px;
    transition: opacity 0.3s, transform 0.3s;
    transform: scaleX(0);
    opacity: 0;
}

.nav-left a:hover::after {
    transform: scaleX(1);
    opacity: 1;
}

.nav-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav-right a img {
    height: 40px; 
    margin-right: 18px; 
}

.nav-right a:last-child img {
    margin-right: 0; 
}

.title_banner {
    color: #ffffff;
    padding: 20px 0;
    height: 260px; 
    text-align: center;
}

.title_banner h1 {
    margin: 25px;
    font-size: 4em;
    font-weight: bold;
}

.title_banner p {
    margin: 5px 0 0;
    font-size: 2.2em;
}

.start_button {
    display: inline-block;
    padding: 12px 30px; 
    background-color: transparent; 
    color: #fff; 
    border: 2px solid #fff; 
    border-radius: 5px; 
    text-align: center; 
    text-decoration: none; 
    font-size: 16px; 
    transition: background-color 0.3s ease, color 0.3s ease; 
    cursor: pointer; 
    margin: 20px;
}

.start_button:hover {
    background-color: #fff; 
    color: #007bff;
}

.info_text {
    color: #ffffff;
    padding: 30px 0;
    height: 260px; 
    text-align: center;
}

.info_text h1 {
    margin: 25px;
    font-size: 2.4em;
    font-weight: bold;
}

.info_text p {
    margin: 1px;
    font-size: 1.2em;
}
